<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:value="${subject.name}"></title>
</head>
<body>
<div th:insert="header">...</div>
<div class="w-full max-w-xs">
    <h3 class="font-bold" th:text="Предмет + ${subject.getName()}"></h3>
    <p th:text="Код предмета + ${subject.getSubject_code()}"></p>
</div>
</body>
</html>