<!DOCTYPE html>
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="header">...</div>
<div class="w-full max-w-xs">
    <form th:object="${user}" th:action="${'/user/edit/'+user.getId()}" method="post"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
         <label >
            Введите имя
            <input required th:field="*{login}" type="text" name="login" placeholder="Имя"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
        </label>
        <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
        <br>
        <label >
            Введите пароль
            <input required th:field="*{password}" type="password" name="password" placeholder="Имя"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
        </label>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <br>

        <br>
         <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Роли</label>
            <div th:each="role : ${roles}">
                <input th:name="${'roles[]'}" th:value="${role.name}" th:checked="${user.id!=null && #lists.contains(user.roles, role)}"
                       class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                   type="checkbox">
                <label th:text="${role.name}"></label>
            </div>
        </div>
        <div class="flex items-center justify-between">
            <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Редактировать пользователя
            </button>
        </div>
    </form>
</div>
</body>
</html>