<!DOCTYPE HTML>

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teacher info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="header">...</div>
<div class="w-full max-w-xs">
    <h1 class="font-bold">Все преподы</h1>
    <a href="/teacher/add" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Добавить
        информацию о преподу/a>
    <div th:each="el : ${teacher}">
        <div class="inline-block align-baseline rounded w-full py-2 px-3 bg-transparent hover:bg-teal-100 shadow">
            <h3 th:text="${el.teachSince}" class="font-bold"></h3>
            <p>
                <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                   th:href="'/teacher/edit/'+${el.getId()}">Редактировать</a>
                <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                   th:href="'/teacher/show/'+${el.getId()}">Посмореть</a>
                <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                   th:href="'/teacher/del/'+${el.getId()}">Удалить</a>

            </p>
        </div>
    </div>
</div>
</body>
</html>