<!DOCTYPE html>

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Filtered personal data</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:insert="header">...</div>
<h2>Фильтрация</h2>
<form>
    <label>
        <input type="text" name="title"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </label>
    <input type="submit" formmethod="post" formaction="/department/filter/result" value="Найти"
           class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
    <input type="submit" formmethod="post" formaction="/department/filter_strict/result" value="Найти точно"
           class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">

    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>

    <div th:each="el : ${result}">
        <div class="inline-block align-baseline rounded w-full py-2 px-3 bg-transparent hover:bg-teal-100 shadow">
            <h3 th:text="${el.name}" class="font-bold"></h3>
        </div>
    </div>
</form>
</body>
</html>